
        .overskrift {
            text-align: center;
            border: 2px, solid white;
            border-radius: 10px;
            width: 400px;
            margin: auto;
            height: 40px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            
        }

        .flex {
            width: 80%;
            margin: auto;
            border: 2px solid white;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: flex;
            gap: 20px;
            align-items: stretch;
        }

        .boks {
            flex: 1;
            display: flex;
            align-items: center;
            padding: 10px;
            flex-direction: column; 
            font-size: large;
        }

        .boks p {
            line-height: 1.8;
            margin: 0;
        }

        .boks img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        
        boks h2 {
            text-align: center;
            margin-bottom: 15px;
        }